.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: width .8s;
}

.main-box {
    background-color: #eeebf5;
    height: 100%;
    padding-top: 10px;
}

.page-header {
    height: 40px;
    line-height: 40px;
    display: flex;

    .el-icon {
        height: 40px;
        line-height: 40px;
        width: 40px;
        font-size: 21px;
    }

    .el-page-header__header {
        height: 40px;
        line-height: 40px;
        margin: 0 20px;
    }
}

.collapse-switch{
    transform: rotate(180deg);
}