.sidebar {
    width: $sidebarWhite;
    background-color: #545c64;
    height: 100%;
    transition: width .8s;
}

.el-menu {
    border-right: 0;
    height: 100%;

    .svg-icon {
        margin-right: 6px;

    }
}
